/* EmployeeForm.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color:  #f8f4f4;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 110%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f6f2f2;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    margin: 20px;
}

.form-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #060707;
    
}


.input-field {
    margin-bottom: auto;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: black;
}

.input-field input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #efe0e0;
    border-radius: 5px;
    background-color: #f6f2f2;
    color: #060707;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.button.submit {
    background-color: #572cbb;
    color: white;
}

.button:hover {
    opacity: 0.9;
    color: #3877aa;
}




